header, aside{
    a{
        color: white;
        text-decoration: none;
    }
}

ul{
    list-style: none;
}

button{
    background: none;
    color: white;
    border: none;
}


aside{
    width: 200px;
    height: 100%;
}

.body-content{
    height: 100vh;
}

.aside-nav{
    padding: 0;
}